body {
    margin: 0;
    padding: 0;
    font-family: 'Neue Regrade', sans-serif;
    font-weight: 700;
    background-color: #040404;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 90px;
    margin-left: 60px;
    font-size: 4em;
}

.menu-item{
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.menu-item:hover {
    color: #7C0000;
}

.divider {
    width: 82px;
    height: 6px;
    background-color: white;
    margin: 16px 0;
}

.image-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
}

.line {
    width: 100%;
    height: 6px;
    background-color: white;
    position: absolute;
    bottom: 100px;
    left: 0;
}

@keyframes rotateSwing {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.lily1 {
    margin-right: 20px;
    animation: rotateSwing 2s infinite;
    img {
        height: 100vh;
    }
}

.container_works {
    display: flex;
    justify-content: space-between;
}

.works {
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    img{
        height: 400px;
    }
}

.container_aboutme {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
}

.title {
    margin-left: 60px;
    padding: 90px;
    font-size: 4em;
}    

.pic {
    justify-self: center;
    margin-top: 100px;
    margin-right: 100px;
    img {
        max-height: 80vh;
    }
    grid-column: 3;
    grid-row: 1 /span 3;
}

.egor {
    text-align: end;
    align-content: center;
    grid-column: 2;
    grid-row: 1;
    font-size: 3em;
}

.quote {
    text-align: end;
    grid-column: 2;
    grid-row: 2;
    font-size: 2em;
}

.prog {
    text-align: end;
    grid-column: 2;
    grid-row: 3;
    font-size: 2em;
}

.container_contacts {
    display: flex;
    height: 100vh;
}

ul {
    list-style: none;
    font-family: 'Neue Regrade', sans-serif;
    font-size: 48px;
    padding: 20px;
}

.contacts {
    list-style: none;
    align-content: center;
    justify-content: center;
    font-family: 'Neue Regrade', sans-serif;
}

a[href^="mailto:"] {
    text-decoration: none;
    color: white;
  }

a[href^="mailto:"]:hover {
    color: #7C0000;
}

a[href^="tel:"] {
    text-decoration: none;
    color: white;
  }

a[href^="tel:"]:hover {
    color: #7C0000;
}

.tg:hover {
    color: #7C0000;
}

@media (prefers-reduced-motion) {
    * {
        &,
        &::before,
        &::after {
            animation: none !important;
            transition: 0.01s !important;
        }
    }
}

html{
    scroll-behavior: smooth;
}